{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('/assets/css/slider.css')}}">
{% endblock %}

{% block javascripts %}

	<script src="{{ asset('/assets/js/slider.js') }}" defer></script>
	<script src="{{ asset('/assets/js/burgermanager.js') }}" defer></script>
	<script src="{{ asset('/assets/js/script.js') }}" defer></script>

{% endblock %}

{% block body %}

	<div id="slider-container">
    <div id="slider-content"></div>
    <button id="prevBtn">Précédent</button>
    <button id="nextBtn">Suivant</button>
  </div>

{% endblock %}
