<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('/assets1//css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('/assets1/css/slider.css')}}">
    <link rel="stylesheet" href="{{ asset('/assets1/css/catalogue.css')}}">
    {% endblock %}

    {% block javascripts %}
   
    <script type="module" src="{{ asset('/assets1/js/script.js') }}" defer></script>


    {% endblock %}
    
</head>

<body>
    <header>
        <nav>
            <div id="logo"><a href="{{ path('app_home')}}"><img src="{{ asset('./assets1/img/logo_djs.jpg')}}"></a></div>
            <ul id="navMenu" class="slideLeft"></ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div id="user" class="slideLeft">
                    <span>{{ app.user.firstName }}</span>
                    <a href="{{ path('app_logout')}}">LogOut</a>
                </div>
            {% else %}
                <div id="user" class="slideLeft">
                    <a href="{{ path('app_register')}}">Register</a>
                    <a href="{{ path('app_login')}}">Login</a>
                </div>
            {% endif %}
            <div id="burger"><i class="fa-solid fa-bars"></i></div>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <div>Hello footer<div>
    </footer>
</body>

</html>